<div class="wrapper">
	<!-- header -->
	<div class="top-bar navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-2 logo">
				<!--	LDashboard	-->
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-9">
							<div class="top-bar-right pull-right">
								<div class="notifications">
									<ul>
										<li class="notification-item inbox">
											<div class="btn-group">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													<i class="fa fa-envelope"></i><span class="count">2</span>
													<span class="circle"></span>
												</a>											
											</div>
										</li>
										<li class="notification-item general">
											<div class="btn-group">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													<i class="fa fa-bell"></i><span class="count">8</span>
													<span class="circle"></span>
												</a>
											</div>										
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- sidebar sb admin -->

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li>
					<a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
				</li>
				<li>
					<a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
				</li>
				<li>
					<a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
				</li>
				<li>
					<a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
				</li>
				<li class="active">
					<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
				</li>
				<li>
					<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
				</li>
				<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
					<ul id="demo" class="collapse">
						<li>
							<a href="#">Dropdown Item</a>
						</li>
						<li>
							<a href="#">Dropdown Item</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
				</li>
				<li>
					<a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
				</li>
			</ul>
		</div>


	</div>

	<!-- sidebar -->
	<div class="bottom">
		<div class="container">
			<div class="row">

				<ul class="nav navbar-nav side-nav">
					<li class="active">
						<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
					</li>
					<li>
						<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
					</li>
					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
						<ul id="demo" class="collapse">
							<li>
								<a href="#">Dropdown Item</a>
							</li>
							<li>
								<a href="#">Dropdown Item</a>
							</li>
						</ul>
					</li>
				</ul>

				<div class="alert alert-danger top-general-alert" style="display: block;">
					<span>If you <strong>can't see the logo</strong> on the top left, please reset the style on right style switcher (for upgraded theme only).</span>
					<button type="button" class="close">×</button>
				</div>
				<div class="col-md-10 content-wrapper" style="min-height: 2134px;"></div>
			</div>
		</div>
	</div>


</div>