<% breadcrumb :player, @player %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-edit fa-fw"></i> Редактирование параметров игрока</h3>
  </div>
  <div class="panel-body">
    <ul style="padding-left: 0px;">

		<%= render 'form' %>

	</ul>

	</div>
</div>

<%= link_to 'Show', @player %> |
<%= link_to 'Back', :back %>
