@import "bootstrap/variables";

$primary-color: #304A54;
$navbar-inverse-bg: $primary-color;
$navbar-height: 34px;
//$body-bg: $primary-color;
$badge-bg: #1D92AF;
$badge-color: #fff;
$navbar-border-radius: 0;
$navbar-inverse-link-color: #fff;
// my variables
$sidebar-width: 200px;