<div id="page-wrapper">
	<div class="container" style="padding-top: 10px;">
		<%= breadcrumbs style: :bootstrap, display_single_fragment: true %>
	</div>	
	<div class="container-fluid">
		<%= yield %>
	</div>
</div>